DATABASE_URL="postgresql://postgres:postgres@localhost:5432/pacer_time?authSchema=public"
AUTH_SECRET="generarlo en https://auth-secret-gen.vercel.app/"
NEXT_PUBLIC_COUNTRY_STATE_CITY_API_KEY="solicitarlo"